@media screen and (max-width:1600px) {
	  body {
		 font-size:12px;
	  }
	  .logo{
		  height:10%;
	  }
	  .bigimg{
		  width:8%;
	  }
	  .midimg{
		  width:6%;
	  }
	  .midimg1{
		  width:7%;
	  }
	}
	@media screen and (min-width:1600px) and (max-width:2100px) {
	  body {
		 font-size:15px;
	  }
	  .logo{
		  height:12%;
	  }
	  .bigimg{
		  width:8%;
	  }
	  .midimg{
		  width:6%;
	  }
	  .midimg1{
		  width:7%;
	  }
	}
	@media screen and (min-width:2100px) and (max-width:2800px) {
	  body {
		 font-size:18px;
	  }
	  .logo{
		  height:15%;
	  }
	  .bigimg{
		  width:9%;
	  }
	  .midimg{
		  width:6%;
	  }
	  .midimg1{
		  width:8%;
	  } width:13%;
	  }
	}
	@media screen and (min-width:2800px) {
	  body{
		 font-size:100px;
	  }
	  .logo{
		  height:100%;
	  }
	  .bigimg{
		  width:14%;
	  }
	  .midimg{
		  width:12%;
	  }
	  .midimg1{
		  width:13%;
	  }
	}